.header {
    background-color: #000000;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.nav {
    background-color: white;
    min-height: 400px;
    width: 30%;
    color: #282c34;
    font-size: 20px;
}

.content {
    background-color: #282c34;
    min-height: 400px;
    width: 80%;
    color: white;
    font-size: 20px;
}

.footer {
    padding: 10px 0;
    background-color: #000000;
    width: 100%;
    text-align: center;
    color: white;
}

.navLink {
    text-decoration: none;
    color: #282c34;
}

.activeNavLink {
    color: #7fb8f1;
    text-decoration: underline;
}

.imagesWrapper {
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: fit-content;
}

.image {
    width: 150px;
    height: 150px;
}

h1 {
    margin: 0 auto;
    line-height: 1.1;
}

.LinkLikeButton {
    padding:2px 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.LinkLikeButton:hover {
    background-color: #0056b3;
}
.ButtonLikeLink {
    border: 0;
    background-color: #ff00b7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.ButtonLikeLink:hover {
    background-color: #980569;
}
.HorizontalNavigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}